@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');

:root {
	--container-width: 1440px;
	--container-padding: 130px;
	/* Colors */
	--primary: #484283;
	--accent: #f14f4f;
	--white: #fff;
	--grey: #444b58;
	--lightgrey: #646464;
	--palegrey: #b2b5bb;

	/* Nav */
	--nav-bg: var(--primary);
	--nav-text: var(--white);

	/* Header */
	--header-bg: var(--primary);
	--header-border: var(--white);
	--header-text: var(--white);

	--product-card-bg: var(--white);
	--product-card-text: var(--grey);

	--faq-bg: var(--primary);
	--faq-text: var(--white);

	--footer-bg: var(--grey);

	--product-page-text: var(--lightgrey);

	--cart-page-text: var(--palegrey);
}

html,
body {
	font-family: 'Jost', sans-serif;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.container {
	margin: 0 auto;
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
}

.section {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	align-items: center;
	row-gap: 48px;
	padding: 48px 0;
}

.title-1 {
	font-size: 36px;
	font-weight: 700;
	width: 100%;
	text-align: left;
	color: var(--product-card-text);
}

/* Products  */

.products {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 35px;
	row-gap: 20px;
}

.products__show-more-btn {
	width: 207px;
	height: 62px;
}


/* FAQ  */

.faq {
	padding: 60px 390px ;
	background-color: var(--faq-bg);
}

.faq__title {
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: 700;
	color: var(--faq-text);
}

.faq__details {
  position: relative;
	padding: 20px 0;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: #fff;
	border-top: 1px solid #fff;
}

.faq__details:last-child {	
	border-bottom: 1px solid #fff;
}

.faq__summary {
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 162%;
	color: #fff;
}

details summary::-webkit-details-marker {
  display: none
}

details[open] summary {  
	padding-bottom: 20px;
}

.faq__details[open] .faq__summary img {
  transform: rotate(45deg);
}

/* Product page  */

.product-page {
	display: flex;
	column-gap: 40px;
}

.product-page__galery {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	max-width: 520px;
}

.galery__scroll {
	display: flex;
	column-gap: 20px;
}

.galery__scroll-item,
.galery__scroll-item--active {
	width: 70px;
	height: 70px;
	border-radius: 4px;
	cursor: pointer;
}

.galery__scroll-item--active {
	border: 3px solid #c4c4c4;
}

.product-page__content {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.product-page__rating {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.product-page__stars {
	display: flex;
	column-gap: 4px;
}

.product-page__star {
	padding: 2px;
	height: 20px;
}

.product-page__rating-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--product-page-text);
}

.product-page__in-stock {
	font-weight: 500;
	font-size: 18px;
	line-height: 133%;
	color: var(--accent);
}

.product-page__description {
	font-weight: 400;
	font-size: 18px;
	line-height: 167%;
	color: var(--grey);
}

.product-page__warranty {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--grey);
}

.product-page__buy {
	display: flex;
	justify-content: flex-start;
	padding: 12px;
	width: 620px;
	height: 86px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.04);
}

.product-page .product-control {
	width: 254px;
}

.product-page .product-control,
.product-page__btn {
	margin-left: auto;
}

.product-page .product-control__btn {  
	width: 100%;
	height: 100%;
}

.product-page__prices {
	display: flex;
	flex-direction: column;
	row-gap: 2px;
	padding: 0 24px 0 20px;
}

.product-page__current-price {
	font-weight: 600;
	font-size: 36px;
	line-height: 111%;
	color: var(--grey);
}

.product-page__price {
	font-weight: 500;
	font-size: 16px;
	line-height: 125%;
	text-decoration: line-through;
	color: var(--product-page-text);
}

.product-page__discount {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
	padding: 19px 20px 19px 24px;
	border-left: 1px solid #d5d5d5;
}

.product-page__discount-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--grey);
}

.product-page__discount-value {
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color:  var(--grey);
}

/* Cart page */

.cart-page {
	display: flex;
	flex-direction: column;
	row-gap: 48px;
	width: 1180px;
}

.cart-page__content {
	display: flex;
	column-gap: 48px;
}

.cart-page__content > p {
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	color: var(--cart-page-text);
}

.cart-page__items {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 20px 40px;
	width: 100%;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
}

.cart-page__total {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
}

.total__common {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.total__common-item,
.total__item {
	display: flex;
	justify-content: space-between;
}

.common-item__count {
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: var(--cart-page-text);
}

.common-item__count-value {
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: var(--grey);
}

.common-item__price {
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	color: var(--cart-page-text);
}

.common-item__price-value {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: var(--grey);
}

.total__item-price {
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	color: var(--cart-page-text);
}

.total__item-value {
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	color: var(--grey);
}

/* Login page */

.login {
	display: flex;
	flex-direction: column;
	row-gap: 48px;
	padding-top: 44px;
}

.login .title-1 {
	text-align: center;
}

.login__form {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 60px;
	padding: 60px;
	width: 600px;
	border-radius: 4px;
	border: 1px solid #c4c4c4;
}

.login__form-btn {
	width: 177px;
	height: 62px;
}

.login__form-error {
	position: absolute;
	left: 60px;
	bottom: 150px;
	color: var(--accent);
}
