.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
	background-color: var(--product-card-bg);
}

.product__img {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  max-height: 300px;
	border-radius: 4px;
}

.product__img-overlay {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 800;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.6);
  transition: opacity 0.2s, visibility 0.2s;
}

.product__img:hover .product__img-overlay,
.product__text:hover .product__img-overlay {
  visibility: visible;
  opacity: 1;
}

.product__img:hover .product__img:after,
.product__text:hover .product__img:after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(135, 135, 135, 0.25);
}

.product:hover .product__text {  
	text-decoration: underline;
}

.product__content {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;
  color: var(--product-card-text);
}

.product__title {
  display: flex;
  flex: 1 2 auto;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.product__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 16px;
}

.product__price {
  font-weight: 400;
  font-size: 18px;
}

button.product__btn {
  padding: 16px;
  height: 50px;
  width: 50px;
}
