.header {
	background-color: var(--header-bg);
	color: var(--header-text);
}

.header__wrapper {
	position: relative;
	padding: 115px 0;
	min-height: 500px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-top: 1px solid var(--header-border);
}

.header__img {
	position: absolute;
	top: 39%;
	padding: 0 55px;
	width: 100%;
    
}

.header__title {
	max-width: 520px;
  font-weight: 400;
  font-size: 36px;
  line-height: 139%;
}

.header__text {
	margin: 40px 0;
	max-width: 320px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
